<nav class="flex flex-col">
  <span class="text-lg text-center m-4">
    Tim Heidler
  </span>
  <ul
    class="flex flex-wrap justify-around w-screen lg:max-w-fit gap-2 self-center"
  >
    <li>
      <a class="btn font-normal" href="/">
        Home
      </a>
    </li>
    <li>
      <a class="btn font-normal" href="/about">
        About
      </a>
    </li>
    <li>
      <a class="btn font-normal" href="/github">
        GitHub
      </a>
    </li>
    <li>
      <a class="btn font-normal" href="/blog">
        Blog
      </a>
    </li>
    <li>
      <a class="btn font-normal" href="/links">
        Links
      </a>
    </li>
  </ul>
</nav>