<html lang="en" class="bg-base-200 font-mono">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/assets/css/style.css" />
		<link rel="shortcut icon" href="/favicon.png" type="image/x-icon">
		<title>{{title}} | Tim Heidler</title>
		<meta name="description" content="{{excerpt}}" />
	</head>
	<body >
		{{{content}}}
	</body>
</html>