---
title: GitHub
layout: skeleton.hbs
---

<div class="hero min-h-screen">
	<div class="hero-content text-center">
        <div class="w-md space-y-20">
            <span>you will be redirected shortly. if not so, then</span>
            <a href="https://github.com/timplay33" class="underline text-primary">click here</a>
            {{> minimalFooter}}
        </div>
    </div>
</div>
<script>
    window.location.replace("https://github.com/timplay33")
</script>